<div class="activate-page">
  <div class="container mt-5" *ngIf="submitted else codeForm">
    <div class="activation-message text-center" *ngIf="isOkay; else activationError">
      <h2 class="text-success"><i class="fas fa-check-circle"></i> Activation Successful!</h2>
      <p class="lead">Your account has been successfully activated.</p>
      <button class="btn btn-primary btn-lg" (click)="redirectToLogin()">Go to Login</button>
    </div>
    <ng-template #activationError>
      <div class="activation-error text-center">
        <h2 class="text-danger"><i class="fas fa-times-circle"></i> Activation Failed!</h2>
        <p class="lead">{{ message }}</p>
        <button class="btn btn-danger btn-lg" (click)="submitted = false">Try again</button>
      </div>
    </ng-template>
  </div>
  <ng-template #codeForm>
    <div class="container mt-5">
      <div class="text-center" style="width: 400px; margin: auto;">
        <h2><i class="fas fa-key"></i> Type Your Activation Code</h2>
        <code-input [isCodeHidden]="false" [codeLength]="6" [code]="'number'" (codeCompleted)="onCodeCompleted($event)">
        </code-input>
        <button class="btn btn-primary btn-lg mt-3" (click)="redirectToLogin()">Go to Login</button>
      </div>
    </div>
  </ng-template>
</div>