<div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background-color: #f8f9fa;">
    <div class="card login-container shadow-lg p-5">
        <h3 class="text-center mb-4 text-primary">Open-Books Login</h3>
        <hr>
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
            <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
        <form>
            <div class="mb-4">
                <label for="login" class="form-label">Email address</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login" name="email" placeholder="name@example.com" required>
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <button (click)="login()" type="button" class="btn btn-primary">
                    <em class="fas fa-sign-in-alt"></em>&nbsp;Sign in
                </button>
                <div>
                    <button (click)="forgotPassword()" type="button" class="btn btn-link text-secondary">
                        Forgot Password?
                    </button>
                </div>
            </div>
            <div class="text-center">
                Don't have an account?&nbsp;
                <button (click)="register()" type="button" class="btn btn-link text-primary">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>