<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" href="javascript:void(0)">
      <i class="fas fa-book-open text-primary"></i>
      Open Books
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/books" routerLinkActive="active">
            <i class="fas fa-home-alt"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-books" routerLinkActive="active">
            <i class="fas fa-book"></i>My books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-returned-books" routerLinkActive="active">
            <i class="fa-solid fa-truck-fast"></i>My returned books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-borrowed-books" routerLinkActive="active">
            <i class="fas fa-list-check"></i>Borrowed books
          </a>
        </li>
      </ul>
      <form class="d-flex gap-3 align-items-center" role="search">
        <div class="position-relative">
          <input class="form-control" type="search" placeholder="Find a book" aria-label="Search" id="searchTxt">
          <button class="btn btn-outline-success position-absolute end-0 top-50 translate-middle-y me-2" type="submit" id="searchBtn">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="d-flex align-items-center gap-2">
          <span class="text-muted">Welcome</span>
          <span class="text-capitalize fw-bold" id="user">Guest</span>
          <button class="btn btn-link" type="submit" (click)="logout()" id="logoutBtn" title="Logout">
            <i class="fas fa-door-open"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>