<div class="container-fluid py-4">
  <h3>My borrowed books</h3>
  <hr>
  <div class="d-flex flex-column col-6" *ngIf="selectedBook">
    <h2>Return and share feedback</h2>
    <div class="d-flex flex-column col-12">
      <div class="d-flex mb-2">
        <div class="col-1">
          <strong>Title</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.title }}
        </div>
      </div>
      <div class="d-flex mb-2">
        <div class="col-1">
          <strong>Author</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.authorName }}
        </div>
      </div>
      <div class="d-flex mb-2">
        <div class="col-1">
          <strong>ISBN</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.isbn }}
        </div>
      </div>
      <div class="d-flex mb-2">
        <div class="col-1">
          <strong>Rate</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.rate }}
        </div>
      </div>
    </div>
    <hr>
    <div class="col-12">
      <form class="row g-3">
        <div class="d-flex gap-3 align-items-center">
          <input [(ngModel)]="feedbackRequest.note" type="range" id="rate" name="rate" class="form-range w-25" min="0" max="5" step="0.5">
          <app-rating [rating]="feedbackRequest.note || 0"></app-rating>
          <span class="badge bg-primary">{{ feedbackRequest.note }}</span>
        </div>
        <div class="col-12">
          <label for="synopsis" class="form-label">Feedback</label>
          <textarea [(ngModel)]="feedbackRequest.comment" rows="4" class="form-control" id="synopsis" name="synopsis"
                    placeholder="Share your thoughts about the book"></textarea>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="returnBook(true)" type="button" class="btn btn-outline-primary">
            <i class="fas fa-save me-2"></i>Rate & Return
          </button>
          <button (click)="returnBook(false)" type="button" class="btn btn-outline-success">
            <i class="fa-solid fa-paper-plane me-2"></i>Just Return
          </button>
          <a routerLink="/books/my-books" class="btn btn-link text-danger">
            <i class="fas fa-times me-2"></i>Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!selectedBook">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Rate</th>
        <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of borrowedBooks.content; let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          <i class="fas fa-star text-warning me-1"></i>
          <span>{{ book.rate }}</span>
        </td>
        <td>
          <div class="d-flex justify-content-center gap-3">
            <span class="action-icon returned-icon" *ngIf="book.returned">
              <i class="fa-regular fa-paper-plane"></i>
            </span>
            <span class="action-icon return-icon" *ngIf="!book.returned" (click)="returnBorrowedBook(book)" role="button" title="Return book">
              <i class="fa-solid fa-paper-plane"></i>
            </span>
            <span class="action-icon approved-icon" [class.disabled]="!book.returnApproved">
              <i class="fa-solid fa-circle-check"></i>
            </span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a
              (click)="goToFirstPage()"
              class="page-link"
              href="javascript:void(0)"
              [class.disabled]="page === 0"
              title="First page"
            >
              <i class="fa-solid fa-angles-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a
              (click)="goToPreviousPage()"
              class="page-link"
              href="javascript:void(0)"
              [class.disabled]="page === 0"
              title="Previous page"
            >
              <i class="fa-solid fa-angle-left"></i>
            </a>
          </li>
          <li class="page-item" *ngFor="let pageIndex of pages">
            <a
              (click)="gotToPage(pageIndex)"
              class="page-link"
              [class.active]="page === pageIndex"
              href="javascript:void(0)"
            >{{ pageIndex + 1 }}</a>
          </li>
          <li class="page-item">
            <a
              (click)="goToNextPage()"
              class="page-link"
              href="javascript:void(0)"
              [class.disabled]="isLastPage"
              title="Next page"
            >
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a
              (click)="goToLastPage()"
              class="page-link"
              href="javascript:void(0)"
              [class.disabled]="isLastPage"
              title="Last page"
            >
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>